* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    color: white;
    background-color: black;
    padding: 15%;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-area: header;
    text-align: center;
    background-image: url(../img/superman.jpg);
    background-size: cover;
    background-position: center;
}

main {
    background-image: url("img/superman.jpg");
    background-color: #9dcaf9;
    grid-area: main;
    padding: 5%;
}

nav {
    color: black;
    background-color: gray;
    grid-area: nav;
    padding: 10%;
    text-align: center;
}

aside {
    background-color: #9df9b9;
    grid-area: aside;
    padding-top: 1%;
    text-align: center;
}

footer {
    background-color: #f99dbb;
    grid-area: footer;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
}

a {
    text-decoration: none;
}

nav li {
    float: left;
    padding: 5px;
}

.active {
    background-color: #4CAF50;
}

img {
    width: 100%;
    margin: auto;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
}

@media (min-width: 500px) {
    .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header  header"
            "nav     nav"
            "aside   main"
            "footer  footer";
    }
    nav li {
        float: none;
    }
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header  header"
            "nav    main    aside"
            "nav    main    aside"
            "footer footer  footer"
    }
    nav li {
        float: none;
    }
    p {
        padding: 10%;
    }
}
